* {
	border: 1px solid rgba(0, 0, 0, 0.3);  /* Sets boxes over everything */
	margin: 0;
	padding: 0;
}

body {
	background: AliceBlue;
}

.firstbackground {
	background-image: url("firstbackground.png");
	height: 500px;
	width: 1350px;
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	overflow: hidden;
	display: block;

}

h1 {
	font-family: Indie Flower, cursive;
	font-size: 60px;
	text-align: right;
	word-wrap: break-word;
	padding:  15px 40px 0 0;
}

.selection {
	font-family: 'Amatic SC', cursive;
	font-size: 25px;
	text-align: right;
	padding: 50px 40px 0 0;
}

a:link {
	color: black;
	text-decoration: none;
	font-size: 25px;
	font-weight: bold;
}

a:visted {
		color: gray;
	text-decoration: none;
	font-size: 25px;
	font-weight: bold;
}

a:hover {
	color: #B387E8;
	text-decoration: none;
	font-size: 25px;
	font-weight: bold;
}

h2 {
	font-family: Indie Flower, cursive;
	font-size: 50px;
	text-align: center;
	font-weight: bold;
	Margin: 0 30px 0 25px;
}

.firstparagraph {
	margin: 0 0 30px 0;
	padding: 25px 0 0 0;
	text-align: center;
	font-family: Indie Flower, cursive;
	font-size: 25px;
	overflow: hidden;
}

.impactphoto {
	margin: 0 750px 0 0;
}

.secondparagraph {
	margin: -350px 75px 30px 650px;
	text-align: center;
	font-family: Indie Flower, cursive;
	font-size: 25px;
}

.secondsection {
	display: inline block;
}



@media (max-width: 750px) {
	.firstbackground {
		height: 250px;
		max-width: 260px;
		margin: -75px 0 0 0;
	}
	
	h1 {
		font-size: 25px;
		margin: 70px 0 -60px 0;
		padding: 0 0 0 50px;

	}
	
	.selection a {
		font-size: 15px;
		margin: 0 0 0 0;
		padding: 0 0 0 0;
	}
	
	h2 {
		font-size: 20px;
		font-family: Indie Flower, cursive;
		text-align: center;
		max-width: 260px;
		margin: 0 0 0 0;
	}
	
	.firstparagraph {
		max-width: 260px;
		margin: 0 0 0 0;
	}
	
	img {
		max-width: 260px;
		max-height: 300px;
		margin: 0 0 0 0;
	}
	
	p {
		font-size: 10px;
	}
	
	.secondparagraph {
		margin: 0 0 0 0;
		padding: 0 0 0 0px;
		max-width: 260px;
	}
	

	

	
		
}
