* {
	/* border: 1px solid rgba(0, 0, 0, 0.3); */ /* Sets boxes over everything */
	margin: 0;
	padding: 0;
}

body {
	background: #659C96;
	background: -webkit-linear-gradient(left, #659C96, #F2FAFF);
	background: -moz-linear-gradient(#659C96, #F2FAFF);
	}

.firstbackground {
	background-image: url("firstbackground1.png");
	height: 500px;
	width: 100%;
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	overflow: hidden;
	display: block;
}

h1 {
	font-family: Indie Flower, cursive;
	font-size: 60px;
	text-align: right;
	word-wrap: break-word;
	padding: 15px 40px 0 0;
	margin: 10px 0 0 0;
}

.selection {
	font-family: 'Amatic SC', cursive;
	font-size: 25px;
	text-align: right;
	padding: 50px 40px 0 0;
}

a:link {
	color: black;
	text-decoration: none;
	font-size: 25px;
	font-weight: bold;
}

a:visted {
	color: gray;
	text-decoration: none;
	font-size: 25px;
	font-weight: bold;
}

a:hover {
	color: #B387E8;
	text-decoration: none;
	font-size: 25px;
	font-weight: bold;
}

h2 {
	font-family: 'Amatic SC', cursive;
	font-size: 60px;
	text-align: center;
	font-weight: bold;
	Margin: 0 auto;
	background: #E8E2DF;
	background: -webkit-linear-gradient(left, #E8E2DF, #659C96);
	background: -moz-linear-gradient (#E8E2DF, #659C96);	
	border: 2px solid white;
	color: white
}

.firstparagraph {
	margin: 0 0 30px 0;
	padding: 25px 0 0 0;
	text-align: center;
	font-family: 'Patrick Hand', cursive;
	font-size: 25px;
	overflow: hidden;
	color: #3D608C;


}

.impactphoto {
	margin: 0 750px 0 0;
}

.secondparagraph {
	margin: -350px 75px 30px 650px;
	text-align: center;
	font-family: 'Patrick Hand', cursive;
	font-size: 25px;
	color: #3D608C;
}

.secondsection {
	display: inline block;	
}

.thirdparagraph {
	margin: 250px 0 0 0;
	text-align: center;
	font-family: 'Amatic SC', cursive;
	font-size:25px;
}

h3 {
	margin: 0 0 40px 0;
	background: #E8E2DF;
	background: -webkit-linear-gradient(left, #E8E2DF, #659C96);
	background: -moz-linear-gradient (#E8E2DF, #659C96);
	border: 2px solid white;
	color: white;
}

.codeparagraphs {
	color: white;
}

.codeparagraphone {
	font-family: 'Patrick Hand', cursive;
	display: inline-block;
	color: #3D608C;
}

.codeparagraphtwo {
	font-family: 'Patrick Hand', cursive;
	display: inline-block;
	color: #3D608C;
}

	.pagebreak p {
		margin: 50px 0 50px 0;
		font-family: Indie Flower, cursive;
		font-size: 35px;
		text-align: center;
		background: #E8E2DF;
		background: -webkit-linear-gradient(left, #E8E2DF, #659C96);
		background: -moz-linear-gradient (#E8E2DF, #659C96);
		border: 2px solid white;
		color: white;
		font-style: bold;
	}

.fourthparagraph {
	margin: auto 0;
	text-align: center;
	font-family: 'Patrick Hand', cursive;
	font-size:25px;
	color: #3D608C;
}

.socialmedia {
	margin: 20px auto;
}

.youtubelogo {
	display: inline;
	position: relative;
	margin: 0 10px 0 10px;
}

.facebooklogo {
	display: inline;
	position: relative;
	margin: 50px 10px 0 10px;
}

.linkedinlogo {
	display: inline;
	position: relative;
	margin: 50px 10px 20px 10px;
}

.instagramlogo {
	display: inline;
	position: relative;
	margin: 50px 10px 20px 10px;
}

.twitterlogo {
	display: inline;
	position: relative;
	margin: 50px 10px 20px 10px;
}

.end {
	margin: auto 0;
	text-align: center;
	font-family: 'Patrick Hand', cursive;
	font-size:25px;
	}
	
	.freepik {
		text-align: center;
		margin: 40px 0 0 0;
		background-color: #E8E2DF;
		font-size: 10px;
		
	}


@media (max-width: 1350px) {
	.firstbackground {
		width: auto;
		margin: -50px 0 0 0;
	}
	
	h1 {
		padding:  30px 40px 0 0;
	}
	
	.selection a {
		font-size: 50px;
	}
	
	h2 {
		margin: 50px auto;
	}
	
	.secondsection {
		margin: 75px auto;
	}
	
	.impactphoto img {

	}
	
	.secondparagraph {
		margin: -490px 25px 30px 725px;
		font-size: 13px;
	}
		
	h3 {
		margin: -150px 0 90px 0;
	}
	
	.codeparagraphs {
		font-size: 30px;
	}
	

}

	

	

	
		
}
